{% extends "base.html" %}
{% block title %}
    <title>文章列表</title>
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li class="active">{{ bl.name }}</li>
    </ol>
    <a href="{% url 'article_create' bl.id %}"><button type="button" class="btn btn-primary">发表文章</button></a>
    <br /><br />
    <table class="table table-hover">
        <thead><!-- thead表头, tr是行, th是单元格-->
            <tr>
                <th>标题</th>
                <th>作者</th>
                <th>创建时间</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody><!-- tbody表体, tr是行, td是单元格-->
            {% for article in articles %}
                <tr>
                    <td><a href="/article/detail/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.owner }}</td>
                    <td>{{ article.create_timestamp|date:"Y-m-d P" }}</td>
                    <td>{{ article.last_update_timestamp|date:"Y-m-d P" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--分页-->
    {% include "common/pagenaitor.html" %}
    <!--分页结束-->
{% endblock %}
