{% extends "base.html" %}
{% block content %}
        <div class="col-xs-12 col-md-10">
            {%for bl in blocks %}
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <span class="panel-title "><a href="/article/list/{{ bl.id }}">{{ bl.name }}</a></span>
                    <span class="pull-right">{{ bl.manager_name }}</span>
                  </div>
                  <div class="panel-body">
                    {{ bl.desc }}
                  </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="well">个人中心</div>
        </div>
{% endblock %}
