{% extends "base.html" %}
{% block content %}
    <!--数据展示-->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="jumbotron">
                <h2 style="text-align: center">欢迎来到select的论坛!</h2>
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            {% for bl in block_info %}
                <div class="panel panel-info">
                  <div class="panel-heading">
                      <span class="panel-title "><a href="/article/list/{{ bl.id }}">{{ bl.name }}</a></span>
                      <span class="pull-right"> {{ bl.manager }}</span>
                  </div>
                  <div class="panel-body">
                      {{ bl.desc }}
                  </div>
                </div>
            {% endfor %}
        </div>
       <div class="col-xs-12 col-md-2">
            {% if user == 'AnonymousUser' %}
                <div class="well">匿名用户,马上<a href="{% url 'register' %}">注册</a></div>
            {% else %}
                <div class="well">尊敬的会员<a href="{% url 'login' %}">{{ user }}</a>,欢迎查看本站</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
