{% extends "base.html" %}
{% block content %}
    <div class="col-xs-12 col-md-10">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <span class="panel-title "><a href="#">django板块</a></span>
                <span class="pull-right">管理员</span>
              </div>
              <div class="panel-body">
                django学习
              </div>
            </div>
    </div>
   <div class="col-xs-12 col-md-2">
        <div class="well">匿名用户,马上<a href="#">注册</a></div>
    </div>
{% endblock %}
